/* Commom */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.text-g{
    color: #EBEAEA;
}
.clear{
    clear: both;
}

.row{
      display: flex;
      padding: 15px;

}
.col{
 margin-right: 32px;
}
.col-half{
    width: 50%;
}
/* HEADER */
#header > .container-header{
    align-items: center;
    justify-content: center;
}
#header{
    height: 100px;
}
.container-header{
    background-color: #333333;
    font-size: 15px;
}
#header  .navbar-header {   
    margin-left: 240px;
    padding: 20px;
    display: inline-block;

}

#header .navbar-right{
    float: right;
    margin-right: 20%;
    padding: 25px;
    display: flex;
}

.navbar-right >li{
    list-style-type: none;
    margin: 0 10px;
}

.navbar-right li .text_span{
    color: #D9A933;
}
.navbar-right li a{
    text-decoration: none;
}

/* SLIDER */
#slider{
  
     /* Xét quan hệ cha con giữa silder với tex-content để giữa được tỷ lệ ảnh ban đầu */
    
}
.back-slider{
   
    position: relative; 
    
    /* làm cho ảnh có tỉ lệ chiều cao luôn bằng 50% chiều rộng  của chính nó=> làm cho ảnh luôn đẹp => cái này quang trong nè */
    padding-top: 50%;
    /* lấy sát vào bên trên, căng giữa ảnh,  back-ground size : cover, không lặp ảnh */
    background: url('./images/video/video_bg.jpg') top center / cover no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(1px);
    margin-top: -26px;
}
.text-container-slider{
  
    
  color: white;
  

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;

}

.text1-slider{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    line-height: 85px;
}
.text2-slider{
    color: #fff;
    
}
#contact_form-slider{
    height: 60px;
    width: 390px;
    background-color: #000;
    margin: 20px 540px;

}
.mail-slider{
    width:257px;
    height: 35px;
    margin-top: 10px;
}

#subscribe_btn_1{
    background-color: #F1C232;
    height: 35px;
    color: #fff;
    font-size: 14px;
}
#subscribe_btn_1 p{
    font-size: 12px;
}
.text3-slider{
    color: #fff;
}


/* CONTENT */
#content{
    height: 550px;
  
}

.substyle{
    float: right;
}

.zone_left{
    margin-left: 26%;
    margin-top: 50px;
   display: inline-block;
}
.title_st{
    font-weight: 400;
    margin-bottom: 14px;
}

.subject_st{
    font-size: 12px;
    color: #C3C3C3;
}

.pix_builder_bg{
    height: 444px;
    width: 320px;
    background-color: #EBEAEA;
    margin-right: 28%;
    margin-top: 30px;
}
.title-style{
    margin-top: 30px;
    margin-left: 13px;
    font-size: 20px;
}

.text-style{
    margin-left: 13px;
    margin-bottom: 16px;
    font-size: 13px;
    color: grey;
}
.pix_text-contact{
    width: 283px;
    padding: 12px;
    margin: 10px 16px;
}

.submit_btn {
    padding: 8px;
    width: 283px;
    margin: 10px 16px;
    background-color: #7CC576;
    border: #7CC576;
}

.submit_btn .editContent {
    color: #fff;
}

/* FOOTER */
.container-sub-footer {
    display: flex;
    height: 80px;
    background-color: #F6F6F6;
}
.rights_st{
    color: grey;
    line-height: 80px;
    font-size: 14px;
}
span.pix_text {
    margin-left: 25%;
}

.socbuttons {
    float: right;
    margin-left:-187px;
    display: flex;
 
}
span.pix_text1 {
    color: grey;
    line-height: 80px;
    margin-left: 400px;
    font-size: 14px;
}
.list-icon-footer {
    /* float: right; */
    margin-left: 8px;
    margin-top: 25px;
    color: #ccc;
    width: 82px;
    height: 30px;
    background-color:#EBEAEA ;
}
.list-icon-footer i{
    line-height: 30px;
    margin: 3px;
}
.pixfort_st{
    color: #674397;
    font-weight: 600;
}